# Chapter 12 - Tuples

This chapter presents one more built-in type, the tuple, and then shows how lists, dictionaries, and tuples work together. I also present a useful feature for variable-length argument lists, the gather and scatter operators.

One note: there is no consensus on how to pronounce “tuple”. Some people say “tuhple”, which rhymes with “supple”. But in the context of programming, most people say “too-ple”, which rhymes with “quadruple”.

## 12.1 Tuples are immutable

A tuple is a sequence of values. The values can be any type, and they are indexed by integers, so in that respect *tuples are a lot like lists*. The important difference is that tuples are *immutable*.

Syntactically, a tuple is a comma-separated list of values:

In [26]:
t = 'a', 'b', 'c', 'd', 'e'

In [27]:
type(t)

tuple

Although it is not necessary, it is common to enclose tuples in parentheses:

In [3]:
t = ('a', 'b', 'c', 'd', 'e')

To create a tuple with a single element, you have to include a final comma:

In [6]:
t1 = 'a'

In [7]:
type(t1)

str

In [8]:
t2 = 'a',

In [9]:
type(t2)

tuple

A value in parentheses is not a tuple:

In [10]:
t3 = ('a')

In [11]:
type(t3)

str

Another way to create a tuple is the built-in function tuple. With no argument, it creates an empty tuple:

In [12]:
t = tuple()

In [13]:
t

()

If the argument is a sequence (string, list or tuple), the result is a tuple with the elements of the sequence:

In [14]:
t = tuple('ancient')

In [15]:
t

('a', 'n', 'c', 'i', 'e', 'n', 't')

Because tuple is the name of a built-in function, you should avoid using it as a variable name.

Most list operators also work on tuples. The bracket operator indexes an element:

In [125]:
t = 'a', 'b', 'c', 'd', 'e'

In [126]:
t[0]

'a'

And the slice operator selects a range of elements.

In [36]:
t[1:3]

('b', 'c')

But if you try to modify one of the elements of the tuple, you get an error:

In [37]:
t[0] = 'A'

TypeError: 'tuple' object does not support item assignment

Because tuples are immutable, you can’t modify the elements. But you can replace one tuple with another:

In [54]:
t = 'a', 'b', 'c', 'd', 'e'
t

('a', 'b', 'c', 'd', 'e')

In [55]:
t[1:]

('b', 'c', 'd', 'e')

In [56]:
t = ('A',) + t[1:]
t

('A', 'b', 'c', 'd', 'e')

In [57]:
t

('A', 'b', 'c', 'd', 'e')

In [58]:
t = ('v',)

In [59]:
t

('v',)

This statement makes a new tuple and then makes t refer to it.

The relational operators work with tuples and other sequences; Python starts by comparing the first element from each sequence. If they are equal, it goes on to the next elements, and so on, until it finds elements that differ. Subsequent elements are not considered (even if they are really big).

In [60]:
(0, 1, 2) < (0, 3, 4)

True

In [61]:
(0, 1, 2000000) < (0, 3, 4)

True

## 12.2 Tuple assignment

It is often useful to swap the values of two variables. With conventional assignments, you have to use a temporary variable. For example, to swap a and b:

In [73]:
a = (1,)
b = tuple()

temp = a
a = b
b = temp

In [75]:
a

()

In [76]:
b

(1,)

This solution is cumbersome; __tuple assignment__ is more elegant:

In [77]:
a = (1,)
b = tuple()

a,b = b,a

In [78]:
a

()

In [79]:
b

(1,)

The left side is a tuple of variables; the right side is a tuple of expressions. Each value is assigned to its respective variable. All the expressions on the right side are evaluated before any of the assignments.

The number of variables on the left and the number of values on the right have to be the same:

In [80]:
a,b = 1,2,3

ValueError: too many values to unpack (expected 2)

More generally, the right side can be any kind of sequence (string, list or tuple). For example, to split an email address into a user name and a domain, you could write:

In [81]:
addr = 'monty@python.org'
uname, domain = addr.split('@')

In [82]:
uname

'monty'

In [83]:
domain

'python.org'

The return value from split is a list with two elements; the first element is assigned to uname, the second to domain.

## 12.3 Tuples as return values

Strictly speaking, a function can only return one value, but if the value is a tuple, the effect is the same as returning multiple values. For example, if you want to divide two integers and compute the quotient and remainder, it is inefficient to compute x//y and then x%y. It is better to compute them both at the same time.

The built-in function divmod takes two arguments and returns a tuple of two values, the quotient and remainder. You can store the result as a tuple:

In [84]:
t = divmod(7,3)

In [85]:
t

(2, 1)

Or use tuple assignment to store the elements separately:

In [86]:
quot, rem = divmod(7,3)

In [87]:
quot

2

In [88]:
rem

1

Here is an example of a function that returns a tuple:

In [89]:
def min_max(t):
    return min(t), max(t)

max and min are built-in functions that find the largest and smallest elements of a sequence. min_max computes both and returns a tuple of two values.

## 12.4 Variable-length argument tuples

Functions can take a variable number of arguments. A parameter name that begins with * __gathers__ arguments into a tuple. For example, printall takes any number of arguments and prints them:

In [92]:
def printall(*args):
    print(args)

The gather parameter can have any name you like, but args is conventional. Here’s how the function works:

In [93]:
printall(1,2.0,'3')

(1, 2.0, '3')

The complement of gather is scatter. If you have a sequence of values and you want to pass it to a function as multiple arguments, you can use the * operator. For example, divmod takes exactly two arguments; it doesn’t work with a tuple:

In [94]:
t = (7,3)
divmod(t)

TypeError: divmod expected 2 arguments, got 1

But if you scatter the tuple, it works:

In [95]:
divmod(*t)

(2, 1)

Many of the built-in functions use variable-length argument tuples. For example, max and min can take any number of arguments:

In [96]:
max(1,2,3)

3

But sum does not.

In [97]:
sum(1,2,3)

TypeError: sum expected at most 2 arguments, got 3

As an exercise, write a function called sum_all that takes any number of arguments and
returns their sum.

## 12.5 Lists and tuples

zip is a built-in function that takes two or more sequences and interleaves them. The name of the function refers to a zipper, which interleaves two rows of teeth. This example *zips a string and a list*:

In [98]:
s = 'abc'
t = [0,1,2]
zip(s,t)

The result is a __zip object__ that knows how to *iterate through the pairs*. The most common
use of zip is in a for loop:

In [99]:
for pair in zip(s,t):
    print(pair)

('a', 0)
('b', 1)
('c', 2)

In [101]:
for _ in zip(s,t):
    print(_)

('a', 0)
('b', 1)
('c', 2)

A zip object is a kind of __iterator__, which is any object that iterates through a sequence. Iterators are similar to lists in some ways, but unlike lists, you can’t use an index to select an element from an iterator.

If you want to use list operators and methods, you can use a zip object to make a list:

In [102]:
list(zip(s,t))

[('a', 0), ('b', 1), ('c', 2)]

The result is a list of tuples; in this example, each tuple contains a character from the string and the corresponding element from the list.

If the sequences are not the same length, the result has the length of the shorter one.

In [103]:
list(zip('Anne','Elk'))

[('A', 'E'), ('n', 'l'), ('n', 'k')]

You can use tuple assignment in a for loop to traverse a list of tuples:

In [105]:
t = [('a', 0), ('b', 1), ('c', 2)] # list of tuple
for letter,number in t:
    print(number,letter)

0 a
1 b
2 c

If you combine zip, for and tuple assignment, you get a useful idiom for traversing two (or more) sequences at the same time. For example, has_match takes two sequences, t1 and t2, and returns True if there is an index i such that t1[i] == t2[i]:

In [106]:
def has_match(t1,t2):
    for x,y in zip(t1,t2):
        if x == y:
            return True
    return False

In [110]:
t1 = 'abcd'
t2 = [1,2,'d',4]

has_match(t1,t2)

False

In [111]:
t1 = 'abcd'
t2 = [1,2,'c',4]

has_match(t1,t2)

True

If you need to traverse the elements of a sequence and their indices, you can use the built-in function enumerate:

In [112]:
for index,element in enumerate('abc'):
    print(index,element)

0 a
1 b
2 c

The result from enumerate is an enumerate object, which iterates a sequence of pairs; each pair contains an index (starting from 0) and an element from the given sequence.

## 12.6 Dictionaries and tuples

Dictionaries have a method called items that *returns a sequence of tuples,* where each tuple is a key-value pair.

In [115]:
d = {'a':0, 'b':1, 'c':2}
type(d)

dict

In [116]:
t = d.items()
t

dict_items([('a', 0), ('b', 1), ('c', 2)])

The result is a dict_items object, which is an iterator that iterates the key-value pairs. You can use it in a for loop like this:

In [117]:
for key,value in d.items():
    print(key,value)

a 0
b 1
c 2

As you should expect from a dictionary, the items are in no particular order.

Going in the other direction, you can use a list of tuples to initialize a new dictionary:

In [118]:
t = [('a',0),('b',1),('c',2)] # list of tuple
d = dict(t)
d

{'a': 0, 'b': 1, 'c': 2}

In [119]:
type(t)

list

In [120]:
type(d)

dict

Combining dict with zip yields a concise way to create a dictionary:

In [124]:
d = dict(zip('abc',[0,1,2]))
d

{'a': 0, 'b': 1, 'c': 2}

The dictionary method update also takes a list of tuples and adds them, as key-value pairs, to an existing dictionary.

It is common to use tuples as keys in dictionaries (primarily because you can’t use lists). For example, a telephone directory might map from last-name, first-name pairs to telephone numbers. Assuming that we have defined last, first and number, we could write:

    directory[last, first] = number
    
The expression in brackets is a tuple. We could use tuple assignment to traverse this dictionary.

    for last, first in directory:
        print(first, last, directory[last,first])
        
This loop traverses the keys in directory, which are tuples. It assigns the elements of each tuple to last and first, then prints the name and corresponding telephone number.

There are two ways to represent tuples in a state diagram. The more detailed version shows the indices and elements just as they appear in a list. For example, the tuple ('Cleese', 'John') would appear as in Figure 12.1.

But in a larger diagram you might want to leave out the details. For example, a diagram of the telephone directory might appear as in Figure 12.2.

![](state_diagram_tuple_dict.jpg)

![](state_diagram_tuple_dict.jpg)

## 12.7 Sequences of sequences

I have focused on lists of tuples, but almost all of the examples in this chapter also work with lists of lists, tuples of tuples, and tuples of lists. To avoid enumerating the possible combinations, it is sometimes easier to talk about sequences of sequences.

In many contexts, the different kinds of sequences (strings, lists and tuples) can be used interchangeably. So how should you choose one over the others?

To start with the obvious, *strings are more limited than other sequences because the elements have to be characters. They are also immutable*. If you need the ability to change the characters in a string (as opposed to creating a new string), you might want to use a list of characters instead.

*Lists are more common than tuples, mostly because they are mutable*. But there are a few cases where you might prefer tuples:

1. In some contexts, like a return statement, it is syntactically simpler to create a tuple than a list.
2. If you want to use a sequence as a dictionary key, you have to use an immutable type like a tuple or string.
3. If you are passing a sequence as an argument to a function, using tuples reduces the potential for unexpected behavior due to aliasing.

Because tuples are immutable, they don’t provide methods like sort and reverse, which modify existing lists. But Python provides the built-in function sorted, which takes any sequence and returns a new list with the same elements in sorted order, and reversed, which takes a sequence and returns an iterator that traverses the list in reverse order.

## 12.8 Debugging

Lists, dictionaries and tuples are examples of __data structures__; in this chapter we are starting to see compound data structures, like lists of tuples, or dictionaries that contain tuples as keys and lists as values. Compound data structures are useful, but they are prone to what I call __shape errors__; that is, errors caused when a data structure has the wrong type, size, or structure. For example, if you are expecting a list with one integer and I give you a plain old integer (not in a list), it won’t work.