# Chapter 10 - Lists

This chapter presents one of Python’s most useful built-in types, __lists__. You will also learn more about objects and what can happen when you have more than one name for the same object.

## 10.1 A list is a sequence

Like a string, a __list__ is a sequence of values. In a string, the values are characters; in a list,
they can be any type. The values in a list are called __elements__ or sometimes __items__.

There are several ways to create a new list; the simplest is to enclose the elements in square brackets ([ and ]):
    
    [10, 20, 30, 40]
    ['crunchy frog', 'ram bladder', 'lark vomit']
    
The first example is a list of four integers. The second is a list of three strings. The elements of a list don’t have to be the same type. The following list contains a string, a float, an integer, and (lo!) another list:

    ['spam', 2.0, 5, [10, 20]]
    
A list within another list is __nested__. A list that contains no elements is called an empty list; you can create one with empty brackets, [].

As you might expect, you can assign list values to variables:

In [2]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
print(cheeses)

['Cheddar', 'Edam', 'Gouda']

In [3]:
numbers = [42, 123]
empty = []

In [4]:
print(cheeses, numbers, empty)

['Cheddar', 'Edam', 'Gouda'] [42, 123] []

## 10.2 Lists are mutable

The syntax for accessing the elements of a list is the same as for accessing the characters of a string—the bracket operator. The expression inside the brackets specifies the index. Remember that the indices start at 0:

In [5]:
cheeses

['Cheddar', 'Edam', 'Gouda']

In [6]:
cheeses[0]

'Cheddar'

Unlike strings, lists are mutable. When the bracket operator appears on the left side of an assignment, it identifies the element of the list that will be assigned.

In [8]:
fruit = 'manggo'
fruit[0] = g

NameError: name 'g' is not defined

In [87]:
numbers = [42, 123]
numbers[1] = 5
numbers

[42, 5]

The one-eth element of numbers, which used to be 123, is now 5. Figure 10.1 shows the state diagram for cheeses, numbers and empty:

![](state_diagram_list.jpg)

List indices work the same way as string indices:

    • Any integer expression can be used as an index.
    • If you try to read or write an element that does not exist, you get an IndexError.
    • If an index has a negative value, it counts backward from the end of the list.

The in operator also works on lists:

In [12]:
cheeses = ['Cheddar', 'Edam', 'Gouda']

In [13]:
'Edam' in cheeses

True

In [14]:
'Brie' in cheeses

False

## 10.3 Traversing a list

The most common way to traverse the elements of a list is with a for loop. The syntax is the same as for strings:

In [15]:
for cheese in cheeses:
    print(cheese)

Cheddar
Edam
Gouda

In [16]:
for _ in cheeses:
    print(_)

Cheddar
Edam
Gouda

This works well if you only need to read the elements of the list. But if you want to write or update the elements, you need the indices. A common way to do that is to combine the built-in functions range and len:

    for i in range(len(numbers)):
        numbers[i] = numbers[i] * 2
        
This loop traverses the list and updates each element. len returns the number of elements in the list. range returns a list of indices from 0 to n − 1, where n is the length of the list. Each time through the loop i gets the index of the next element. The assignment statement in the body uses i to read the old value of the element and to assign the new value.

A for loop over an empty list never runs the body:

    for x in []:
        print('This never happens.')
        
Although a list can contain another list, the nested list still counts as a single element. The length of this list is four:

In [17]:
my_list = ['spam', 1, ['Brie', 'Roquefort', 'Pol le Veq'], [1, 2, 3]]
len(my_list)

4

## 10.4 List operation

The + operator concatenates lists:

In [18]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a+b
print(c)

[1, 2, 3, 4, 5, 6]

The * operator repeats a list a given number of times:

In [19]:
[0]*4

[0, 0, 0, 0]

In [20]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

The first example repeats [0] four times. The second example repeats the list [1, 2, 3] three times.

## 10.5 List slices

The slice operator also works on lists:

In [88]:
t = ['a', 'b', 'c', 'd', 'e', 'f']

In [89]:
t[0]

'a'

In [92]:
t[len(t)]

IndexError: list index out of range

In [93]:
t[len(t)-1]

'f'

In [4]:
t[1:3]

['b', 'c']

In [5]:
t[:4]

['a', 'b', 'c', 'd']

In [6]:
t[3:]

['d', 'e', 'f']

If you omit the first index, the slice starts at the beginning. If you omit the second, the slice goes to the end. So if you omit both, the slice is a copy of the whole list.

In [7]:
t[:]

['a', 'b', 'c', 'd', 'e', 'f']

Since lists are mutable, it is often useful to make a copy before performing operations that modify lists.

A slice operator on the left side of an assignment can update multiple elements:

In [8]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
t[1:3] = ['x','y']

In [9]:
t

['a', 'x', 'y', 'd', 'e', 'f']

## 10.6 List methods

Python provides methods that operate on lists. For example, append adds a new element to the end of a list:

In [95]:
t = ['a', 'b', 'c']
t.append('d') # void function

In [96]:
t

['a', 'b', 'c', 'd']

extend takes a list as an argument and appends all of the elements:

In [97]:
t1 = ['a', 'b', 'c']
t2 = ['d', 'e']
t1.extend(t2) # void function

In [98]:
t1

['a', 'b', 'c', 'd', 'e']

This example leaves t2 unmodified.

sort arranges the elements of the list from low to high:

In [99]:
t = ['d', 'c', 'e', 'b', 'a']
t.sort() # void function

In [100]:
t

['a', 'b', 'c', 'd', 'e']

*Most list methods are void*; they modify the list and return None. If you accidentally write t = t.sort(), you will be disappointed with the result.

## 10.7 Map, filter and reduce

To add up all the numbers in a list, you can use a loop like this:

In [17]:
def add_all(t):
    total = 0
    for x in t:
        total = total + x
    return total

total is initialized to 0. Each time through the loop, x gets one element from the list. As the loop runs, total accumulates the sum of the elements; a variable used this way is sometimes called an accumulator.

In [18]:
t = [1,2,3,4,5]
add_all(t)

15

Adding up the elements of a list is such a common operation that Python provides it as a built-in function, sum:

In [19]:
sum(t)

15

An operation like this that combines a sequence of elements into a single value is sometimes called __reduce__.

Sometimes you want to traverse one list while building another. For example, the following function takes a list of strings and returns a new list that contains capitalized strings:

In [24]:
def capitalize_all(t):
    res = []
    for s in t:
        res.append(s.capitalize())
    return res

In [25]:
t = 'enoch'
capitalize_all(t)

['E', 'N', 'O', 'C', 'H']

res is initialized with an empty list; each time through the loop, we append the next element. So res is another kind of accumulator.

An operation like capitalize_all is sometimes called a __map__ because it “maps” a function
(in this case the method capitalize) onto each of the elements in a sequence.

Another common operation is to select some of the elements from a list and return a sublist. For example, the following function takes a list of strings and returns a list that contains only the uppercase strings:

In [31]:
def only_upper(t):
    res = []
    for s in t:
        if s.isupper():
            res.append(s)
    return res

In [32]:
t = 'banANa'
only_upper(t)

['A', 'N']

isupper is a string method that returns True if the string contains only upper case letters. An operation like only_upper is called a __filter__ because it selects some of the elements and filters out the others.

Most common list operations can be expressed as a combination of map, filter and reduce.

## 10.8 Deleting elements

There are several ways to delete elements from a list. If you know the index of the element you want, you can use pop:

In [34]:
t = ['a', 'b', 'c']
x = t.pop(1)

In [36]:
t

['a', 'c']

In [37]:
x

'b'

pop modifies the list and returns the element that was removed. If you don’t provide an index, it deletes and returns the last element.

If you don’t need the removed value, you can use the del operator:

In [101]:
t = ['a', 'b', 'c']
del t[1] # void function

In [39]:
t

['a', 'c']

If you know the element you want to remove (but not the index), you can use remove:

In [106]:
t = ['a', 'b', 'c']
t.remove('b') # void function

In [107]:
t

['a', 'c']

The return value from remove is None. To remove more than one element, you can use del with a slice index:

In [108]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
del t[1:5]

In [109]:
t

['a', 'f']

As usual, the slice selects all the elements up to but not including the second index.

## 10.9 Lists and strings

A string is a sequence of characters and a list is a sequence of values, but a list of characters is not the same as a string. To convert from a string to a list of characters, you can use list:

In [44]:
s = 'spam'
t = list(s)

In [45]:
t

['s', 'p', 'a', 'm']

Because list is the name of a built-in function, you should avoid using it as a variable name. I also avoid l because it looks too much like 1. So that’s why I use t. The list function breaks a string into individual letters. If you want to break a string into words, you can use the split method:

In [110]:
s = 'pining for the fjords'
t = s.split()

In [111]:
t

['pining', 'for', 'the', 'fjords']

In [113]:
type(t)

list

An optional argument called a delimiter specifies which characters to use as word boundaries. The following example uses a hyphen as a delimiter:

In [48]:
s = 'spam-spam-spam'
delimiter = '-'
t = s.split(delimiter)

In [49]:
t

['spam', 'spam', 'spam']

join is the inverse of split. It takes a list of strings and concatenates the elements. join is a string method, so you have to invoke it on the delimiter and pass the list as a parameter:

In [114]:
t = ['pining', 'for', 'the', 'fjords']
delimiter = ' '
s = delimiter.join(t)

In [115]:
s

'pining for the fjords'

In [116]:
type(t)

list

In [117]:
type(s)

str

In this case the delimiter is a space character, so join puts a space between words. To concatenate strings without spaces, you can use the empty string, '', as a delimiter.

## 10.10 Objects and values

If we run these assignment statements:

In [56]:
a = 'banana'
b = 'banana'

In [57]:
a

'banana'

In [58]:
b

'banana'

We know that a and b both refer to a string, but we don’t know whether they refer to the same string. There are two possible states, shown in Figure 10.2.

![](state_diagram_double_string.jpg)

In one case, a and b refer to two different objects that have the same value. In the second
case, they refer to the same object.

To check whether two variables refer to the same object, you can use the is operator.

In [59]:
a is b

True

In this example, Python only created one string object, and both a and b refer to it. But when you create two lists, you get two objects:

In [60]:
a = [1,2,3]
b = [1,2,3]

In [61]:
a is b

False

So the state diagram looks like Figure 10.3.

In this case we would say that the two lists are __equivalent__, because they have the *same elements*, but not __identical__, because they are *not the same object*. If two objects are identical, they are also equivalent, but if they are equivalent, they are not necessarily identical.

Until now, we have been using “object” and “value” interchangeably, but it is more precise to say that an object has a value. If you evaluate [1, 2, 3], you get a list object whose value is a sequence of integers. If another list has the same elements, we say it has the same value, but it is not the same object.

## 10.11 Aliasing

If a refers to an object and you assign b = a, then both variables refer to the same object:

In [62]:
a = [1,2,3]
b = a
b is a

True

The state diagram looks like Figure 10.4.

The association of a variable with an object is called a __reference__. In this example, there are two references to the same object.

An object with more than one reference has more than one name, so we say that the object is __aliased__.

If the aliased object is mutable, changes made with one alias affect the other:

In [63]:
a

[1, 2, 3]

In [64]:
b

[1, 2, 3]

In [65]:
b[0] = 23
b

[23, 2, 3]

In [66]:
a

[23, 2, 3]

Although this behavior can be useful, it is error-prone. In general, it is safer to avoid aliasing when you are working with mutable objects.

For immutable objects like strings, aliasing is not as much of a problem. In this example:

In [67]:
a = 'banana'
b = 'banana'

It almost never makes a difference whether a and b refer to the same string or not.

## 10.12 List arguments

When you pass a list to a function, the function gets a reference to the list. If the function modifies the list, the caller sees the change. For example, delete_head removes the first element from a list:

In [68]:
def delete_head(t):
    del t[0]

Here's how it is used:

In [69]:
letters = ['a', 'b', 'c']
delete_head(letters)
letters

['b', 'c']

The parameter t and the variable letters are aliases for the same object. The stack diagram looks like Figure 10.5.

![](stack_diagram_aliasing.jpg)

It is important to distinguish between operations that modify lists and operations that create new 
lists. For example, the append method modifies a list, but the + operator creates a
new list.

Here’s an example using append:

In [118]:
t1 = [1,2]
t2 = t1.append(3)

In [119]:
print(t1)

[1, 2, 3]

In [120]:
print(t2)

None

The return value from append is None.

Here’s an example using the + operator:

In [121]:
t3 = t1 + [4]

In [122]:
t1

[1, 2, 3]

In [123]:
t3

[1, 2, 3, 4]

The result of the operator is a new list, and the original list is unchanged. This difference is important when you write functions that are supposed to modify lists. For example, this function does not delete the head of a list:

In [79]:
def bad_delete_head(t):
    t = t[1:]

The slice operator creates a new list and the assignment makes t refer to it, but that doesn’t affect the caller.

In [80]:
t4 = [1, 2, 3]
bad_delete_head(t4)

In [81]:
t4

[1, 2, 3]

At the beginning of bad_delete_head, t and t4 refer to the same list. At the end, t refers to a new list, but t4 still refers to the original, unmodified list.

An alternative is to write a function that creates and returns a new list. For example, tail returns all but the first element of a list:

In [84]:
def tail(t):
    return t[1:]

This function leaves the original list unmodified. Here’s how it is used:

In [85]:
letters = ['a','b','c']
rest = tail(letters)

In [86]:
rest

['b', 'c']

## 10.13 Debugging

Careless use of lists (and other mutable objects) can lead to long hours of debugging. Here are some common pitfalls and ways to avoid them:

1. Most list methods modify the argument and return None. This is the opposite of the string methods, which return a new string and leave the original alone. If you are used to writing string code like this:

        word = word.strip() 
    
    It is tempting to write list code like this:
    
        t = t.sort() # WRONG!
    
    Because sort returns None, the next operation you perform with t is likely to fail.

    Before using list methods and operators, you should read the documentation carefully and then test them in interactive mode.
    
2. Pick an idiom and stick with it.

    Part of the problem with lists is that there are too many ways to do things. For example, to remove an element from a list, you can use pop, remove, del, or even a slice assignment.
    To add an element, you can use the append method or the + operator. Assuming that
    t is a list and x is a list element, these are correct:
    
        t.append(x)

        t = t + [x]

        t += [x]
    
    And these are wrong:
    
        t.append([x]) # WRONG!

        t = t.append(x) # WRONG!

        t + [x] # WRONG!

        t = t + x # WRONG!
    
    Try out each of these examples in interactive mode to make sure you understand
    what they do. Notice that only the last one causes a runtime error; the other three are
    legal, but they do the wrong thing.
    
3. Make copies to avoid aliasing.

    If you want to use a method like sort that modifies the argument, but you need to
    keep the original list as well, you can make a copy.
    
        t = [3, 1, 2]

        t2 = t[:]

        t2.sort()
    
        >>> t
        [3, 1, 2]
        >>> t2
        [1, 2, 3]
    
3. In this example you could also use the built-in function sorted, which returns a new,
sorted list and leaves the original alone.

        >>> t2 = sorted(t)
        >>> t
        [3, 1, 2]
        >>> t2
        [1, 2, 3]